@page "/customer/{CustomerId}"

<h3>Customer</h3>

@if (CurrentCustomer != null)
{
	<div>
		<p>@CurrentCustomer.ContactName</p>
	</div>
}
else
{
	<div class="alert alert-info">
		<p>No customer found with id "@CustomerId"</p>
	</div>
}
